<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <style> 
      <%- include("./styles/index.scss") %>
    </style>
 <%- include('./partials/nav.ejs')%>

  </header>

  <div class="create-blog contnet">
    <form action="">
    <label for="title"> Contact Title </label>
    <input type="text" id="title" required>
    <label for="Snippet"> Snippet Title </label>
    <input type="text" id="Snippet" required>
    <label for="Box"> Box  </label>
    <textarea type="text" id="Box" required></textarea>
    <button>submit</button>
    </form>
  </div>

  <%if (blogs.length > 0) {%>
    <% blogs.forEach( b => {%>
      <h3 class='title'> <%=b.title%></h3>
      <p classa='snippet'><%=b.review%></p>
    <% })%>
   
  <% }%>
  <footer>
    <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer! :)</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>

  
