<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
<head>   <%- include('./partials/nav.ejs')%>
</head>
<body>
  <style> 
    <%- include("./styles/index.scss") %>
  </style>

 <%if (blogs.length > 0) {%>
  <% blogs.forEach( b => {%>
    <h3> <%=b.title%></h3>
    <p><%=b.review%></p>
  <% })%>
 
<% }%>
  

</body>