%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


.navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding*2;
    box-shadow: $base-box-shadow;
    border-bottom:1px solid $secondary;
    background-color: orange;
    .site-title {
        font-size: $base-font-size-l;
    }
    .container {
        @extend %flex-layout;
    }
}

@each $key, $val in $colors {
    .nav-#{$key}{
        @extend .navbar;
    }
}

