
@use 'scss:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    background-color: $whiteBackground;
    border-radius: 20px;
    border: 1px solid;


    .card-title {
        font-size: $base-font-size-xl;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: $base-font-size;

        a {
            font-size: $base-font-size-m;
            text-decoration: underline;
        }
    }
}

