
h1 {
  color: $title;
  margin-bottom: $base-margin-small;
}

 
a { 
  font-size: $base-font-size-m ;
  text-decoration: underline;
  color:black;
  &:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
}



button {
  color: white;
  border: 0;
  background-color:cadetblue;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

.error {
  color: $error;
  border-color: $error;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width:$base-border-thickness;
}

.notification {
  color: $secondary;
  border-color:$secondary;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width:$base-border-thickness;
}




  body {
    font-family: Poppins;
    background-color:  rgb(238, 208, 204);;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  
  hr {
    border: 0;
    border-top: 1px dotted #efefef;
  }
  
  img {
    max-width: 100%;
  }
  
