@use "sass:math";

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    background:beige;
    border-radius: math.div($base-border-radius, 4);
    align-items: center;
    text-align: center;
    min-height: 25px;

    .card-title {
        font-size: $base-font-size-xl;
        color:hotpink;
        padding-bottom: $base-padding;
        font-weight: bold;
        
    }

    .card-body {
        font-size: $base-font-size;
        padding: $base-padding;

        a { 
            font-size: $base-font-size-m;
            text-decoration: underline;
        }
    }
}


.card:hover{
  

  box-shadow: $base-box-shadow;

}

