@use "sass:math";

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    background-color: palegoldenrod;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);


    .card-title {
        font-size: $base-font-size-xl;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: $base-font-size;

        a { 
            font-size: $base-font-size-m;
            text-decoration: underline;
        }
    }


}




