//Declaring variables Theme Colors 
$primary : #6c83e7;
$secondary: #40b64a; 
$error : #ee5151;
$info :  #e2c35f;
$whiteBackground:  #f3eede;
$title: #554545e8;


// color pallet 
$colors : (
    'primary':$primary,
    'secondary':$secondary,
    'info': $info,
    'whiteBackground':$whiteBackground,
    'error' : $error,
    "navy" : #001F3F,
    "blue" : #0074D9,
    "aqua" : #7FDBFF,
    "teal" : #39CCCC,
    "olive" : #3D9970,
    "green" : #2ECC40,
    "lime" : #01FF70,
    "yellow" : #FFDC00,
    "orange" : #FF851B,
    "red" : #FF4136,
    "fuchsia" : #F012BE,
    "purple" : #B10DC9,
    "maroon" : #85144B,
    "white" : #FFFFFF,
    "silver" : #DDDDDD,
    "gray" : #AAAAAA,
    "black" : #111111
);



// spacing 
$base-padding: 0.74rem;
$base-margin: 0.75rem;
$base-margin-small: 0.25rem;
//borders 
$base-border-thickness: 1px;
$base-border-radius: 20px;


//box-shadow
$base-box-shadow:1px 3px 5px rgba(0,0,0,0.2);

//font size
$base-font-size: 1rem;
$base-font-size-xs: $base-font-size*0.5;
$base-font-size-s: $base-font-size*0.75;
$base-font-size-m: $base-font-size*1;
$base-font-size-l: $base-font-size*1.5;
$base-font-size-xl: $base-font-size*2;
