//Declaring variables Theme Colors 
$primary : #6c83e7;
$secondary: #40b64a; 
$error : #ee5151;
$info :  #e2c35f;
$whiteBackground:  #f3eede;

// spacing 
$base-padding: 0.74rem;
$base-margin: 0.75rem;

//borders 
$base-border-thickness: 1px;
$base-border-radius: 20px;


//box-shadow
$base-box-shadow:1px 3px 5px rgba(0,0,0,0.2);

//font size
$base-font-size: 1rem;
$base-font-size-xs: $base-font-size*0.5;
$base-font-size-s: $base-font-size*0.75;
$base-font-size-m: $base-font-size*1.25;
$base-font-size-l: $base-font-size*1.5;
$base-font-size-xl: $base-font-size*2;
