//Declaring variables Theme Colors 
$primary : #6c83e7;
$secondary: #40b64a; 
$error : #ee5151;
$info :  #e2c35f;


// spacing 
$base-padding: 0.74rem;
$base-margin: 0.75rem;

//borders 
$base-border-thickness: 1px;
$base-border-radius: 20px;
